.wrapperTurnosProd{
  position: relative;
  margin-left: 17%;
  margin-top: 100px;
  height: calc(100% - 240px);
  padding-bottom: 60px;
}

.turnosContainer{
  border: 3px solid #0070C0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 950px;
}

.formTurnos{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.tituloTurnos{
  width: 140px;
  font-size: 22px;
  margin-left: 15px;
}

.inputTurnos{
  width: 50px;
  margin-left: 10px;
  margin-right: 15px;
}

.labelTurnos{
  padding-top: 5px;
}
