.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 13%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F2F2F2; /* Blanco */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10%;
  list-style-type: none;
  padding-left: 20px;
  font-size: 20px;
}

.subText, .subSubText, .subTextActive, .subSubTextActive{
  text-align: left;
  padding-right: 5px;
  padding-top: 4px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.App-logo {
  width: 10%;
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  resizeMode: 'contain';
  flex: 1;
}

.subSubText{
  padding-left: 20px;
}

.sideText, .sideTextActive{
  margin-top: 2vh;
  text-align: left;
}

.sideTextActive, .subTextActive, .subSubTextActive{
  font-weight: bold;
}

.link{
  color: #000;
  text-decoration: none;
}
