.reporte{
  position: fixed;
  top: 40px;
  right:0;
  width: 86%;
  height: calc(100% - 80px);
  z-index: 1;
}

.divReporte{
  position: fixed;
  margin-left: 15%;
  margin-top: 16%;
}

.textoReporte, .textoReporteBold{
  display: table;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}


.textoReporteBold{
  font-weight: bold;

}
