.wrapper {
  margin-top: 15vh;
}
.titulo{
  margin-left: 25%;
}

.config{
  padding-left: 28%;
  padding-top: 20px;
}

.textoConfig {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 10px;
    text-align: left;
    width: 400px;
}

.selectConfig{
  display:inline-block;
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
  vertical-align:middle;
  margin-left:20px;
  height: 30px;
  width: 13vw;
  border-width: 2px;
  border-color: #E2E2E2;
  background-color: #F2F2F2;
}
