.wrapperNavProd{
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 100;
  width: 86%;
  height: 40px;
  top: 0;
  right: 0;
  list-style-type: none;
  background-color: white;
  justify-content: space-between;
}

.linkProd{
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  white-space: nowrap;
  color: black;
}

.linkProd:hover{
  padding-top: 12px;
  background-color: #F2F2F2;
}

.wrapperNavTurnos{
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 100;
  width: 86%;
  height: 40px;
  top: 40px;
  right: 0;
  list-style-type: none;
  background-color: white;
}
