.inputProd {
  display:table;
  margin-left:10%;
  height: clamp(0.1rem, 3.2vh , 5rem);
  width: 22.4vw;
  border-style: solid;
  border-color: #E0E0E0;
  background-color: #F2F2F2;
  vertical-align:middle;

}

.selectProd {
  display:table;
  vertical-align:middle;

  height: clamp(0.1rem, 3.8vh , 5rem);
  width: 22.93vw;
  border-width: 2px;
  border-style: solid;
  border-color: #E0E0E0;
  background-color: #F2F2F2;
  text-align: center;
}

.prod{
  position: relative;
  padding-left: 5%;
  padding-top: clamp(0.1rem, 2vh , 10rem);
}

.textoProd {
  max-width: 350px;
  vertical-align:middle;

  width: auto;
  display: table-caption;
  float: left;
  padding-top: 1vh;
  text-align: left;
  width: 300px;
}

.divProduccion{
  position: relative;
  padding-top: 6%;
}

.divBorde{
  position: fixed;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  margin-left: 15%;
  margin-top: 5%;
  width: 82%;
  height: 80%;
}
