.divLimite{
  position: fixed;
  padding-top: 2%;
  margin-left: 20%;
  z-index: 10000;
}

.formLimite{
  margin-top: 2vh;
}

.inputLimiteMin,.inputLimiteMax{
  display:inline-block;
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
  vertical-align:middle;
  height: 23px;
  width: 150px;
  border-width: 2px;
  border-style: solid;
  border-color: #E0E0E0;
  background-color: #F2F2F2;
}

.inputLimiteMin{
  margin-left:20px;

}

.inputLimiteMax{
  margin-left: 40px;
}

.textoLimite{
  display:inline-block;
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
  float: left;
  padding-top: 5px;
  text-align: left;
  width: 300px;
  font-size: 16px;
}
